<!DOCTYPE html>
<html lang="en"> <!--definicion del lenguaje-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    
    <!-- header (cabecera) -->
    <ul class="nav nav-pills">
        <li role="presentacion" ><a href="#"> opcion 1 </a></li>
        <li role="presentacion" ><a href="#"> opcion 2 </a></li>
        <li role="presentacion" ><a href="#"> opcion 3 </a></li>
    </ul>
    
    <!-- contenido -->
    {% block cuerpo %}
    {% endblock %}

    <!-- footer (pie) -->
    <div>
        <a></a>
    </div>

</body>
</html>